[Unit]
Description=Pass On Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /Projeto_Final_Cloud/pass_on_server.py

[Install]
WantedBy=multi-user.target