[Unit]
Description=Main Server
After=network.target


[Service]
User=ubuntu
ExecStart=/usr/bin/python3 /Projeto_Final_Rafael/flask_server.py
Restart=always


[Install]
WantedBy=multi-user.target